<!-- blank header, overrides Minima default -->
<!--
<header class="site-header">
  <div class="wrapper">

    <nav class="site-nav">
      <a href="https://nicolecx122.github.io/Teaching">Back to Teaching</a>
    </nav>

  </div>
</header>
-->

<header class="site-header" role="banner">
  <div class="header-flex">
    <div class="left-link">
      <a href="https://nicolecx122.github.io">Home</a>
    </div>
    <div class="right-link">
      <a href="https://nicolecx122.github.io/#teaching">Back to Teaching</a>
    </div>
  </div>
</header>
