.page-content .wrapper {
  max-width: 1100px; /* default is ~600px in Minima */
  margin: 0 auto;
}
.page-content {
  padding-left: 2rem;
  padding-right: 2rem;
}
.page-content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.page-content h3 {
  margin-top: 2rem;  /* space above each lecture heading */
  margin-bottom: 0.5rem;  /* tighten space below lecture title */
}
.page-content h2 {
  margin-top: 3rem;  /* space above each lecture heading */
  margin-bottom: 0.5rem;  /* tighten space below lecture title */
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 0.3em;
}
.page-content p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.page-content strong {
  display: inline-block;
  margin-top: 0.2rem;
}

.page-content ul {
  margin-top: 0.2em;       /* controls spacing above the whole list */
  margin-bottom: 0.2em;
}


.site-header,
.site-header a,
.site-header nav a,
.site-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #111; /* Or whatever text color you use in body */
  text-decoration: none;
}
.site-header a:hover {
  text-decoration: underline;
  color: #007acc;
}


.header-flex {
  display: flex;
  justify-content: space-between;  /* puts one link on left, one on right */
  align-items: center;
  padding: 1rem 2rem;
}

.header-flex a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #111;
  text-decoration: none;
}

.header-flex a:hover {
  text-decoration: underline;
}



.page-content,
.page-content h1,
.page-content h2,
.page-content h3,
.page-content p,
.page-content ul,
.page-content li {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
