.page-content .wrapper {
  max-width: 1100px; /* default is ~600px in Minima */
  margin: 0 auto;
}
.page-content {
  padding-left: 2rem;
  padding-right: 2rem;
}
.page-content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.page-content h3 {
  margin-top: 2rem;  /* space above each lecture heading */
  margin-bottom: 0.5rem;  /* tighten space below lecture title */
}
.page-content h2 {
  margin-top: 3rem;  /* space above each lecture heading */
  margin-bottom: 0.5rem;  /* tighten space below lecture title */
}
.page-content p {
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
}

.page-content strong {
  display: inline-block;
  margin-top: 0.2rem;
}

.site-header,
.site-header a,
.site-header nav a,
.site-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #111; /* Or whatever text color you use in body */
  text-decoration: none;
}
.site-header a:hover {
  text-decoration: underline;
  color: #007acc;
}
.site-header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header nav a {
  margin-left: 1rem;
}

.page-content,
.page-content h1,
.page-content h2,
.page-content h3,
.page-content p,
.page-content ul,
.page-content li {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
